.showcase {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
      var(--color-third-mod),
      var(--color-third-mod)
    ),
    url(/up/images/showcase/showcase-bg.jpg);

  @extend %background;
  @extend %section-padding;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  &-content {
    display: flex;
    flex-direction: column;

    &-title {
      text-align: center;
      font-size: font-size(font-size-large);
      font-weight: font-weight(font-weight-light);
      text-transform: uppercase;
      font-family: "Balsamiq-Sans";
      letter-spacing: 0.1rem;
    }

    &-gradient-text {
      background-image: linear-gradient(
        135deg,
        var(--color-secondary),
        var(--color-fifth)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
    }

    &-title::selection {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }

    &-gradient-text::-moz-selection {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }

    &-gradient-text::after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      color: inherit;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      pointer-events: none;
      transition: all 0.5s;
    }

    &-gradient-text.selected::after {
      background: var(--color-primary);
      color: var(--color-black);
      -webkit-text-fill-color: var(--color-black);
    }

    &-gradient-text::selection.selected::after,
    &-gradient-text.selected::-moz-selection::after {
      display: block;
    }

    .transition-gradient-text {
      transition: all 1s;
    }

    &-parag {
      font-size: font-size(font-size-regular);
      color: var(--color-fifth);
      font-weight: font-weight(font-weight-light);
      letter-spacing: 0.2rem;
      margin-bottom: calc(1.5rem + 2vw);
    }

    &-links {
      display: flex;
      justify-content: center;
      align-items: center;

      a:link,
      a:visited {
        font-size: font-size(font-size-small);
        letter-spacing: 0.2rem;
        font-weight: font-weight(font-weight-medium);
        padding: calc(0.7rem + 1vw) calc(1rem + 1vw);
        text-transform: uppercase;
        position: relative;
        border-radius: 0.5rem;
        z-index: 1;
        transition: all 0.5 ease-in-out;
      }

      a:link:first-child,
      a:visited:first-child {
        margin-right: calc(2rem + 2vw);
        background-color: var(--color-third);
        border: 0.2rem solid var(--color-third);
        color: var(--color-fifth);
      }

      a:link:last-child,
      a:visited:last-child {
        background-color: var(--color-secondary);
        border: 0.2rem solid var(--color-secondary);
        color: var(--color-fifth);
      }

      a:link:first-child::before,
      a:visited:first-child::before,
      a:link:last-child::before,
      a:visited:last-child::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-fifth);
        border-radius: inherit;
        z-index: -1;
        transform: scale(0);
        transition: all 0.5 ease-in-out;
      }

      a:hover:first-child::before,
      a:active:first-child::before,
      a:hover:last-child::before,
      a:active:last-child::before {
        transform: scale(1);
      }

      a:hover:first-child,
      a:active:first-child {
        color: var(--color-secondary);
      }

      a:hover:last-child,
      a:active:last-child {
        color: var(--color-third);
      }
    }
  }
}

@include media-query-tablet {
  .showcase {
    &-content {
      &-title {
        text-align: left;
      }

      &-parag {
        text-align: left;
      }

      &-links {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

@include media-query-medium {
  .showcase {
    padding: 4rem;
    &-content {
      &-title {
        font-size: font-size(font-size-xlarge);
      }

      &-parag {
        font-size: 2rem;
      }

      &-links {
        a:link,
        a:visited {
          font-size: font-size(font-size-small);
        }
      }
    }
  }
}

@include media-query-small {
  .showcase {
    &-content {
      &-links {
        flex-direction: column;

        a:first-child {
          margin-bottom: calc(1.5rem + 1vw);
        }
      }
    }
  }
}
