html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}

// placehoder-styles:

%background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%section-padding {
  padding: 6vh 4vw;
}

%section-heading {
  font-size: calc(2rem + 2vw);
  font-family: "Balsamiq Sans";
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-fifth);
}

%section-subheading {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-fifth);
}

%section-small-subheading {
  color: var(--color-fifth);
}

%section-parag {
  font-size: calc(1rem + 0.8vw);
  color: var(--color-fifth);
  font-weight: 400;
  font-family: "Balsamiq-Sans";
  letter-spacing: 0.3rem;
  line-height: 1.4;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-black);
}

// Scroll to top button:

.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url(/up/images/scroll/scroll.svg);
  background-repeat: no-repeat;
  background-color: var(--color-secondary-mod);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

// imports:

@import "mixins";
@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";
@import "6.motto";
@import "7.features";
@import "8.trainers";
@import "9.testimonials";
@import "10.clients";
@import "11.register";
@import "12.footer";
